  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">person_pin</i></h2>
            <h5 class="center">Bonjour !</h5>

            <p class="light">Je suis ingénieur et developpeur d'applications et jeux. Cofondateur de Webshell, une startup d’outils et technologies web où nous avons créé <a href="https://oauth.io">OAuth.io</a> et <a href="https://getmateria.com">Materia</a>. Passionné par le domaine des jeux vidéos, j'ai réalisé de nombreux projets personnels.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Passionné</h5>

            <p class="light">Avec motivation et enthousiasme, j'aime faire avancer les projets efficacement et améliorer mes connaissances sur des nouvelles technologies ou techniques.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Créatif</h5>

            <p class="light">Lorsque des problèmatiques complexes se posent au projet, je peux trouver des solutions innovantes pour arriver à un but recherché.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light overimg">
            <h4>Mon parcours</h4>
            <p class="light">Mes compétences, mon expérience, ma formation</p>
            <a href="#parcours"><i class="medium material-icons hovergo">play_circle_outline</i></a>
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Mes réalisations</h4>
          <p class="left-align light">Je met a disposition la description et captures d'écran de mes <a href="#realisations">différents projets</a>.
          <br/>Ces projets sont relativement récents, d'autres étant malheureusement perdus sur d'anciens disques dur.... Vous pouvez néanmoins me <a href="#contact">contacter</a> pour plus d'informations.</p>
          <p class="center-align light"><a href="#realisations"><i class="medium material-icons hovergo">play_circle_outline</i></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m2">
            <a href="#realisations"><img src="img/btr/btr1_small.png" class="responsive-img z-depth-3" /></a>
        </div>
        <div class="col s4 m2">
            <a href="#realisations"><img src="img/btr/btr2_small.png" class="responsive-img z-depth-3" /></a>
        </div>
        <div class="col s4 m2">
            <a href="#realisations"><img src="img/space/space2_small.png" class="responsive-img z-depth-3" /></a>
        </div>
        <div class="col s4 m2">
            <a href="#realisations"><img src="img/space/space3_small.png" class="responsive-img z-depth-3" /></a>
        </div>
        <div class="col s4 m2">
            <a href="#realisations"><img src="img/hkw/hkw1_small.jpg" class="responsive-img z-depth-3" /></a>
        </div>
        <div class="col s4 m2">
            <a href="#realisations"><img src="img/hkw/hkw2_small.jpg" class="responsive-img z-depth-3" /></a>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light overimg">
            <h4>Me contacter</h4>
            <p class="light">Si vous avez une question ou un commentaire, vous pouvez m'envoyer un email à <a href="mailto:arnaudrichard2048@gmail.com">arnaudrichard2048@gmail.com</a> ou me contacter au <a href="tel:+33686703033">0686703033</a>.<br/>Vous pouvez aussi remplir le formulaire <a href="#contact"> sur ma page de contact</a>.</p>
            <br/>
            <a href="#contact"><i class="medium material-icons hovergo">play_circle_outline</i></a>
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
