<div class="container">
    <div class="section">
        <p class="center-align right"><a class="waves-effect waves-light btn-large"><i class="material-icons left">receipt</i>Télécharger mon CV</a></p>
        <br/>
        <div class="icon-block">
            <h5 class=""><i class="material-icons left">assignment</i>Compétences</h5>
        </div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td><p>Applications</p></td>
                    <td><p class="light"><div class="chip">C/C++/C#</div> <div class="chip">Java</div> <div class="chip">Electron</div></p></td>
                </tr><tr>
                    <td><p>Frameworks et bibliothèques</p></td>
                    <td><p class="light"><div class="chip">Unity</div> <div class="chip">DirectX</div> <div class="chip">OpenGL</div> <div class="chip">NintendoWare</div> <div class="chip">PS3 SDK</div></p></td>
                </tr><tr>
                    <td><p>Mobile</p></td>
                    <td><p class="light"><div class="chip">Phonegap/Cordova</div> <div class="chip">Java/Android</div> <div class="chip">Flex</div></p></td>
                </tr><tr>
                    <td><p>Web</p></td>
                    <td><p class="light"><div class="chip">Node.js</div> <div class="chip">PHP</div> <div class="chip">OAuth</div> <div class="chip">AngularJS</div> <div class="chip">jQuery</div> <div class="chip">Material</div> <div class="chip">Bootstrap</div></p></td>
                </tr><tr>
                    <td><p>Infrastructure</p></td>
                    <td><p class="light"><div class="chip">Unix</div><div class="chip">Architecture de serveurs</div><div class="chip">Docker</div><div class="chip">AWS</div><div class="chip">Heroku</div></p></td>
                </tr><tr>
                    <td><p>Design</p></td>
                    <td><p class="light"><div class="chip">CSS3</div><div class="chip">Photoshop</div><div class="chip">3DS Max</div><div class="chip">Blender</div></p></td>
                </tr><tr>
                    <td><p>Base de données</p></td>
                    <td><p class="light"><div class="chip">MySQL</div><div class="chip">PostgreSQL</div><div class="chip">SQLite</div><div class="chip">Redis</div></p></td>
                </tr><tr>
                    <td><p>Versionning</p></td>
                    <td><p class="light"><div class="chip">Git</div><div class="chip">SVN</div></p></td>
                </tr>
            </tbody>
        </table>
        <br/><br/>

        <div class="row">
            <div class="col s12 m12">
                <div class="icon-block">
                    <h5 class=""><i class="material-icons left">assignment_ind</i>Expérience</h5>
                </div>
            </div>
        </div>
        <div class="row tight">
            <div class="col s12 m12">
                <p>Cofondateur chez Webshell, CTO. <span class="chip">2012-2017</span></p>
                <p class="light">Création de <em>Webshell, oauth.io, getmateria.com</em></p><br/>
                <p>Stage chez Eko Software <span class="chip">2009</span></p>
                <p class="light">Développement du moteur graphique, shaders et optimisation sur Playstation 3.</p><br/>
                <p>Stage chez Kando Games <span class="chip">2008</span></p>
                <p class="light">Développement d'éléments de gameplay et reconnaissance de mouvements à la Wiimote.</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <div class="icon-block">
                    <h5 class=""><i class="material-icons left">class</i>Formation</h5>
                </div>
            </div>
        </div>
        <div class="row tight">
            <div class="col s12 m12">
                <p>EPITA (Ecole pour l'informatique et les techniques avancées)</p>
                <p class="light">Diplôme d'ingénieur en informatique, je me suis spécialisé dans le multimedia</p>
            </div>
        </div>
    </div>
</div>
